<footer class="footer">
        <nav class="footer-topline">
            <ul>
                <li><i class="fas fa-umbrella"></i></li>
                <li>Hỗ trợ</li>
                <li>Giới thiệu</li>
                <li>Liên hệ</li>
                <li></li>
            </ul>
        </nav>
        <nav class="footer-botline">
            <ul>
                <li><i class="far fa-copyright"></i> 2021 askme.herokuapp.com</li>
                <li>Bảo mật và điều khoản </li>
                <li>Gửi phản hồi</li>
                <li></li>
            </ul>
        </nav>
    </footer>