<header class="header">
  <div class="header-logo">
    <a href="/">
      <img src="/img/logo.png" class="header-logo__img">
    </a>

  </div>
  <form class="header-search" action="/search" method="get">
    <input class="header-search__input" name="inp_search" placeholder="Search all forums" oninput="search">
    <input type="submit" class="btn btn-primary" id="btn_search" value="Tìm">

    </input>
  </form>
  <div class="header-post">
    <div class="header-post__icon">
      <i class="far fa-plus-square"></i>
    </div>
    <div class="header-post__text">
      <p>Tạo bài viết mới</p>
    </div>
  </div>
  <div class="header-notification">
    <div class="header-notification__button">
      <i class="fas fa-bell"></i>
    </div>
    <div class="header-notification__dropdown"></div>
  </div>
  <div class="header-user">
    <div class="dropdown header-user__dropdown">
      <button class="btn btn-secondary dropdown-toggle nav-dropdown-btn" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="user-info__image">
          <img src="/img/user_image_default.png">
        </div>
        <div class="user-info__name">
          <p>Huỳnh Trọng Nghĩa</p>
        </div>
      </button>
      <div class="dropdown-menu nav-dropdown-list nav-dropdown-list-user" aria-labelledby="dropdownMenuButton">
        <ul class="user-dropdown__list">
          <li>
            <i class="far fa-user-circle"></i>
            <p>Thông tin cá nhân</p>
          </li>
          <li>
            <i class="fas fa-history"></i>
            <p>Lịch sử hoạt động</p>
          </li>
          <li>
            <i class="fas fa-sign-out-alt"></i>
            <p>
              <a href="/login">Đăng xuất</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
</header>